$content_color: #777;
$border-color: #eaeaea;
$slogan_bg: #424242;
$slogan-color: #fff;
$progress-bar_full: #ef5f3c;
$question-color: #20a1d4;
$payment-button_bg: #1cbc2c;

.crowdfunding-widget {
  width: 250px;
  height: 300px;
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;

  &__content {
    height: 190px;
    margin-bottom: 10px;
    padding: 5px 20px;
    color: $content_color;
    border: 1px solid $border-color;
    border-top: none;
    box-shadow: 0 1px 1px 0 $border-color;
  }
}

.slogan {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: $slogan-color;
  margin-bottom: 10px;
  background-color: $slogan_bg;
  border-radius: 3px;

  &__amount {
    margin-right: 5px;
    font-weight: bold;
  }

  &::after {
    position: absolute;
    content: "";
    top: 45px;
    right: 27px;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-width: 0;
    border-top-width: 7px;
    border-top-color: $slogan_bg;
  }
}

.progress-bar {
  height: 10px;
  border: 1px solid $border-color;

  &__full {
    width: 75%;
    height: 100%;
    background-color: $progress-bar_full;
  }
}

.payment {
  display: flex;
  justify-content: space-between;

  &__amount {
    outline: none;
    padding-left: 20px;
    font-weight: bold;
    color: $slogan_bg;
    background-image: url("../img/usd.jpg");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 8px 50%;
    width: 95px;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 3px;
    background-color: $slogan-color;
    box-sizing: border-box;
  }
}

.question {
  margin-top: 10px;

  &__why {
    text-decoration: none;
    color: $question-color;
    font-style: italic;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 115px;
  height: 35px;
  color: #777;
  font-size: 11px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid $border-color;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 $border-color;
  background-color: $slogan-color;

  &__give-now {
    width: 95px;
    height: 40px;
    color: $slogan-color;
    font-weight: bold;
    font-size: 12px;
    background-color: $payment-button_bg;
    border: none;
    box-shadow: none;
  }
}
